{% extends 'header.html' %}
{% block title %}Войти{% endblock %}
{% block content %}


			<!-- Login contant start -->
			<div class="contant">
				<div id="banner-part" class="banner inner-banner">
					<div class="container">
						<div class="bread-crumb-main">
							<h1 class="banner-title">Вход</h1>
							<div class="breadcrumb">
			                    <ul class="inline">
			                        <li><a href="index.html">Главная</a></li>
			                        <li>Вход</li>
			                    </ul>
			                </div>
						</div>
					</div>
				</div>
				<div class="ptb-100">
					<div class="container">
						<div class="row justify-content-center">
				            <div class="col-xl-6 col-lg-8 col-md-8 ">
				              <form class="main-form full" >
				                <div class="row">
				                  <div class="col-12 mb-20">
				                    <div class="heading-part align-center">
				                      <h2 class="heading">Войти</h2>
				                    </div>
				                  </div>
				                  <div class="col-12">
				                    <div class="form-group">
				                      <label for="login-email">Почта</label>
				                      <input  id='email' name='email' type="email" required="" placeholder="Введите ваш email">
				                    </div>
				                  </div>
				                  <div class="col-12">
				                    <div class="form-group">
				                      <label for="login-pass">Пароль</label>
				                      <input id='password' type="password" name='password' required="" placeholder="Введите ваш пароль">
				                    </div>
				                  </div>
				                  <div class="col-12">
				                  	<div class="mb-30 dit w-100">
					                    <div class="check-box left-side mt-15"> 
					                      <span>
					                        <input type="checkbox" name="remember_me" id="remember_me" class="checkbox">
					                        <label for="remember_me" class="mb-0">Запомнить меня</label>
					                      </span>
					                    </div>
					                    <button id="submit_login" class="btn-color right-side">Войти</button>
				                    </div>
				                  </div>
				                  <div class="col-12"> 
				                  	<hr>
				                  	<div class="align-center mt-20">
				                  		<a title="Forgot Password" class="link forgot-password mtb-20" href="#">Забыли пароль?</a>
				                  	</div>
				                  </div>
				                  <div class="col-12">
				                    <div class="new-account align-center mt-20"> <span>Еще нет аккаунта?</span> 
				                    	<a class="link" title="Create New Account" href="/register">Создать новый аккаунт</a> </div>
				                  </div>
				                </div>
				              </form>
				            </div>
				        </div>
					</div>
				</div>
			</div>
			<!-- Login contant end -->
			{% endblock %}
			{% block script %}<script src="{{ url_for('static', path='/js/valid_login.js') }}"></script>{% endblock %}
