{% extends 'header.html' %}
{% block title %}{{name_product}}{% endblock %}
{% block content %}

			<!-- Product detail contant start -->
			<div class="contant">
				<div id="banner-part" class="banner inner-banner">
					<div class="container">
						<div class="bread-crumb-main">
							<h1 class="banner-title">{{name_product}}</h1>
							<div class="breadcrumb">
			                    <ul class="inline">
			                        <li><a href="index.html">Главная</a></li>
			                        <li><a href="shop.html">Магазин</a></li>
			                        <li>{{name_product}}</li>
			                    </ul>
			                </div>
		                </div>
					</div>
				</div>
				<div class="ptb-100">
					<div class="container">
						<div class="row">
							{% for p in product %}

							<div class="col-lg-5 col-md-6 col-12">
								<div class="align-center mb-md-30">
					                    <li><img  src="{{p.photo_path}}" alt="Xpoge" /></li>
					                    
					            </div>
							</div>
							<div class="col-lg-7 col-md-6 col-12">
								<div class="product-detail-main">
									<div class="product-item-details">
										<h1 class="product-item-name">{{p.name}}</h1>
				                        <div class="price-box"> <span class="price">₽{{p.price}}</span> 
				                        	<del class="price old-price">₽{{p.old_price}}</del>
				                        </div>
		                				<div class="rating-main">
											<div class="rating-summary-block">
					                        	<div class="rating">
													<span onclick="rateProduct(1)">☆</span>
													<span onclick="rateProduct(2)">☆</span>
													<span onclick="rateProduct(3)">☆</span>
													<span onclick="rateProduct(4)">☆</span>
													<span onclick="rateProduct(5)">☆</span>
												  </div>
					                        </div>
					                        <span>1 Review (s)</span>
				                        </div>
				                        <div class="product-des">
		                					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in oluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		                				</div>
				                        
				                        
				                        <hr class="mb-20">
				                        <div class="product-details-btn"><!-- detail-page-btn  -->
				                        	<ul>
				                        		<li class="icon cart-icon">
				                        			<a href="{{p.url_product}}" class="btn btn-color"><span></span>Ссылка на товар</a>
				                        		</li>
				                        		<li class="icon wishlist-icon">
				                        			<a href="wishlist.html" class="btn btn-transparent"><span></span></a>
				                        		</li>
				                        		<li class="icon compare-icon">
				                        			<a href="#" class="btn btn-transparent"><span></span></a>
				                        		</li>
				                        	</ul>
				                        </div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- Product detail contant end -->

			<section class="product-tab-part position-r pb-100">
				<div class="container">
					<div class="product-tab-inner">
		                <div class="row">
		                	<div class="col-12">
		                		 <div id="tabs">
			                    	<ul class="nav nav-tabs">
				                        <li><a class="tab-Description selected" title="Description">История бренда</a></li>
			                    	</ul>
			                    </div>
			                    <div id="items">
				                    <div class="tab_content">
				                        <ul>
				                        	<li>
				                            	<div class="items-Description selected">
				                            		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
				                            	</div>
				                            </li>
				                            
				                            
				                        </ul>
				                    </div>
			                	</div>
		                	</div>
		                </div>
	                </div>
				</div>
			</section>

{% endblock %}
			