<!DOCTYPE html>
<html lang="ru">
	<head>
	<!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>FastStep</title>
	<!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="image/x-icon" href="images/изображение_1load.svg" rel="icon">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/xpoge.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142494086-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-142494086-2');
    </script>	
</head>
	<body>

		<!-- Search Screen start -->
		<div class="sidebar-search-wrap">
		    <div class="sidebar-table-container">
			    <div class="sidebar-align-container">
			        <div class="search-closer right-side"></div>
			        <div class="search-container">
			          <form method="get" id="search-form">
			            <input type="text" id="s" class="search-input" name="s" placeholder="Start Searching">
			          </form>
			          <span>Search and Press Enter</span>
			        </div>
			    </div>
		    </div>
		</div>
		<!-- Search Screen end -->
			<!-- Header start -->
			<header id="header">
				<div class="container position-r">
					<div class="row m-0">
						<div class="col-lg-3 col-md-4 col-4 p-0">
			            	<div class="navbar-header">
				                <a class="navbar-brand page-scroll" href="index.html">
				                	<img alt="xpoge" style="width:174px;height:52;" src="images/logologo2.svg">
				                </a> 
			            	</div>
				        </div>
				        <div class="col-lg-9 col-md-8 col-8 p-0 position-initial">
				        	<div class="right-side">
					        	<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle d-block d-lg-none d-xl-none" type="button"><i class="fa fa-bars"></i>
					        	</button>
					        	<div class="overlay"></div>
					        	<div id="menu" class="navbar-collapse collapse" >
					                <ul class="nav navbar-nav">
						                <li class="level">
						                  	<a href="index.html" class="nav-link">Главная</a>
						                </li>
						                <li class="level">
											<a href="index.html" class="nav-link">Кроссовки</a>
									  </li>
										<li class="level">
											<a href="index.html" class="nav-link">Бренды</a>
									  </li>
					                </ul>
					            </div>
					            <div class="header-right-link">
					              <ul>
					                <li class="search-box">
					                  <a href="#"><span></span></a>
					                </li>
					                <li class="account-icon"> 
					                	<a href="#"><span></span></a>
						                <div class="header-link-dropdown account-link-dropdown">
						                    <ul class="link-dropdown-list">
						                      <li> <span class="dropdown-title">Добро пожаловать в Fast Step</span>
						                        <ul>
						                          <li><a href="login.html">Войти</a></li>
						                          <li><a href="register.html">Создать новый аккаунт</a></li>
						                        </ul>
						                      </li>
						                    </ul>
						                </div>
					                </li>
					                <li class="cart-icon"> 
					                	<a href="#"> <span> <small class="cart-notification">2</small> </span> </a>
										<div class="cart-dropdown header-link-dropdown">
											<ul class="cart-list link-dropdown-list">
											  <li> <a class="close-cart"><i class="fa fa-times-circle"></i></a>
											    <figure> <a href="product-page.html" class="pull-left"> <img alt="Xpoge" src="images/1.jpg"></a>
											      <figcaption> <span><a href="product-page.html">Men's Full Sleeves Collar Shirt</a></span>
											        <p class="cart-price">$14.99</p>
											        <div class="product-qty">
											          <label>Qty:</label>
											          <div class="custom-qty">
											            <input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty">
											          </div>
											        </div>
											      </figcaption>
											    </figure>
											  </li>
											  <li> <a class="close-cart"><i class="fa fa-times-circle"></i></a>
											    <figure> <a href="product-page.html" class="pull-left"> <img alt="Xpoge" src="images/2.jpg"></a>
											      <figcaption> <span><a href="product-page.html">Women's Cape Jacket</a></span>
											        <p class="cart-price">$14.99</p>
											        <div class="product-qty">
											          <label>Qty:</label>
											          <div class="custom-qty">
											            <input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty">
											          </div>
											        </div>
											      </figcaption>
											    </figure>
											  </li>
											</ul>
											<p class="cart-sub-totle"> <span class="pull-left">Cart Subtotal</span> <span class="pull-right"><strong class="price-box">$29.98</strong></span> </p>
											<div class="clearfix"></div>
											<div class="mt-20"> <a href="cart.html" class="btn-color btn">Cart</a> <a href="checkout.html" class="btn-color btn right-side">Checkout</a> </div>
										</div>
					                </li>
					              </ul>
					            </div>
				            </div>
				        </div>
					</div>
				</div>
			</header>
			<!-- Header end -->


			<!-- Product list contant start -->
			<div class="contant">
				<div id="banner-part" class="banner inner-banner">
					<div class="container">
						<div class="bread-crumb-main">
							<h1 class="banner-title">Магазин</h1>
							<div class="breadcrumb">
			                    <ul class="inline">
			                        <li><a href="index.html">Главная</a></li>
			                        <li>Каталог</li>
			                    </ul>
			                </div>
		                </div>
					</div>
				</div>
				<div class="ptb-100">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-4 col-xl-3">
								<div class="sidebar mb-md-30">
	                                <div class="sidebar-category sidebar-default">
	                                    <div class="category-content">
                                            <h2 class="cat-title">Категории</h2>
                                            <ul class="pl-0 mb-0">
                                                <li><a href="#">Мужчинам</a></li>
                                                <li><a href="#">Женщинам</a></li>
                                            </ul>
	                                    </div>
	                                </div>
	                                <div class="sidebar-default">
	                                    <div class="category-content">
	                                        <h2 class="cat-title">Фильтры</h2>
	                                        <a class="btn btn-color small btn-filter mb-20" href="#"><i class="fa fa-close"></i><span>Очистить</span></a>
	                                        <div class="mb-20">
						                    	<div class="inner-title">Бренд</div>
							                    <ul>
							                        <li>
							                          <div class="check-box"> 
							                            <span>
							                              <input type="checkbox" class="checkbox" id="type1" name="type1">
							                              <label for="type1">adidas<span>(05)</span></label>
							                            </span>
							                          </div>
							                        </li>
							                        <li>
							                          <div class="check-box"> 
							                            <span>
							                              <input type="checkbox" class="checkbox" id="type2" name="type2">
							                              <label for="type2">asics<span>(02)</span></label>
							                            </span>
							                          </div>
							                        </li>
							                        <li>
							                          <div class="check-box"> 
							                            <span>
							                              <input type="checkbox" class="checkbox" id="type3" name="type3">
							                              <label for="type3">nike<span>(07)</span></label>
							                            </span>
							                          </div>
							                        </li>
							                        <li>
							                          <div class="check-box"> 
							                            <span>
							                              <input type="checkbox" class="checkbox" id="type4" name="type4">
							                              <label for="type4">new balance<span>(03)</span></label>
							                            </span>
							                          </div>
							                        </li>
													<li>
														<div class="check-box"> 
														  <span>
															<input type="checkbox" class="checkbox" id="type4" name="type4">
															<label for="type4">puma<span>(03)</span></label>
														  </span>
														</div>
													  </li>
													  <li>
														<div class="check-box"> 
														  <span>
															<input type="checkbox" class="checkbox" id="type4" name="type4">
															<label for="type4">vans<span>(03)</span></label>
														  </span>
														</div>
													  </li>
							                    </ul>
						                    </div>
						                    <div class="mb-20">
						                    	<div class="inner-title">Цена</div>
							                    <ul>
													<li>
														<div class="check-box"> 
														  <span>
															<input type="checkbox" class="checkbox" id="price1" name="price1">
															<label for="price1">₽1 000 - ₽5 000 <span>(02)</span></label>
														  </span>
														</div>
													  </li>
							                        <li>
							                          <div class="check-box"> 
							                            <span>
							                              <input type="checkbox" class="checkbox" id="price1" name="price1">
							                              <label for="price1">₽5 000 - ₽10 000 <span>(02)</span></label>
							                            </span>
							                          </div>
							                        </li>
							                        <li>
							                          <div class="check-box"> 
							                            <span>
							                              <input type="checkbox" class="checkbox" id="price2" name="price2">
							                              <label for="price2">₽10 000 - ₽15 000 <span>(13)</span></label>
							                            </span>
							                          </div>
							                        </li>
							                        <li>
							                          <div class="check-box"> 
							                            <span>
							                              <input type="checkbox" class="checkbox" id="price3" name="price3">
							                              <label for="price3">₽15 000 - ₽20 000 <span>(08)</span></label>
							                            </span>
							                          </div>
							                        </li>
							                        
							                    </ul>
						                    </div>
	                                    </div>
	                                </div>
	                                <div class="sidebar-default sidebar-banner d-none d-lg-block">
                                		<a href="javascript:void(0)">
                                			<img src="images/Group 33.png" alt="Xpoge">
                                		</a>
	                                </div>
									<div class="sidebar-default sidebar-banner d-none d-lg-block">
                                		<a href="javascript:void(0)">
                                			<img src="images/Group 33.png" alt="Xpoge">
                                		</a>
	                                </div>
	                                <div class="sidebar-default">
	                                    <div class="sidebar-product">
	                                        <h2 class="cat-title">Latest products</h2>
	                                        <ul>
								                <li>
								                    <div class="pro-media"> <a href="product-page.html"><img alt="Xpoge" src="images/1.jpg"></a> </div>
								                    <div class="pro-detail-info"> <a href="product-page.html" class="product-title">Women's Cotton Plain T-Shirts</a>
								                      <div class="price-box">
								                      	<span class="price">$65.23</span>
								                      	<del class="price old-price">$70.00</del>
								                      </div>
								                      <div class="cart-link">
								                        <form>
								                          <button title="Add to Cart">Add To Cart</button>
								                        </form>
								                      </div>
								                    </div>
								                </li>
								                <li>
								                    <div class="pro-media"> <a href="product-page.html"><img alt="T-shirt" src="images/2.jpg"></a> </div>
								                    <div class="pro-detail-info"> <a href="product-page.html" class="product-title">Men's Printed Regular Shirt</a>
								                      <div class="price-box"> <span class="price">$80.00</span> </div>
								                      <div class="cart-link">
								                        <form>
								                          <button title="Add to Cart">Add To Cart</button>
								                        </form>
								                      </div>
								                    </div>
								                </li>
								                <li>
								                    <div class="pro-media"> <a href="product-page.html"><img alt="T-shirt" src="images/3.jpg"></a> </div>
								                    <div class="pro-detail-info"> <a href="product-page.html" class="product-title">Black African Print</a>
								                      <div class="price-box"> <span class="price">$80.00</span> </div>
								                      <div class="cart-link">
								                        <form>
								                          <button title="Add to Cart">Add To Cart</button>
								                        </form>
								                      </div>
								                    </div>
								                </li>
							                </ul>
	                                    </div>
	                                </div>
		                        </div>
							</div>
							<div class="col-12 col-lg-8 col-xl-9">
								<div class="shorting mb-30">
						            <div class="row">
						              <div class="col-lg-6">
						                
						                <div class="short-by float-right-md"> <span>Сортировать по</span>
						                  <div class="select-item">
						                    <select>
						                      <option value="" selected="selected">Имя (А - Я)</option>
						                      <option value="">Имя (Я - А)</option>
						                      <option value="">Цена (мин. - макс.)</option>
						                      <option value="">Цена (макс. - мин.)</option>
						                    </select>
						                  </div>
						                </div>
						              </div>
						              <div class="col-lg-6">
						                <div class="show-item right-side float-left-md"> 
						                  
						                  <div class="compare float-right-sm"> <a href="#" class="btn btn-color">Искать</a> </div>
						                </div>
						              </div>
						            </div>
						        </div>
								<div class="product-section grid-view">
									<div class="row">
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<div class="sale-label"><span>Sale</span></div>
					                				<a href="product-page.html">
						                				<img src="images/1.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Men's Full Sleeves Collar Shirt</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$95.50</span>
						                					<del class="price old-price">$100.00</del>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/2.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Women's Cape Jacket</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$30.22</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
	                								<div class="new-label"><span>New</span></div>
					                				<a href="product-page.html">
						                				<img src="images/3.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Men's Regular Fit T-Shirt</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$56.00</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/4.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Women's Cotton Plain T-Shirts</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$65.23</span>
						                					<del class="price old-price">$70.00</del>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/5.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Men's Printed Regular Shirt</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$45.25</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
						                			<div class="sale-label"><span>Sale</span></div>
		                							<div class="new-label"><span>New</span></div>
					                				<a href="product-page.html">
						                				<img src="images/6.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Polyester Printed T-Shirts</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$88.54</span>
						                					<del class="price old-price">$100.00</del>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
						                			<div class="sale-label"><span>Sale</span></div>
		                							<div class="new-label"><span>New</span></div>
					                				<a href="product-page.html">
						                				<img src="images/7.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Excalibur Men's Slim Formal Trousers</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$68.55</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/8.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">A-Line Dress for Women's</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$77.54</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/9.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Women’s Summer dress</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$55.88</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/10.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Women’s winter dress</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$55.88</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/11.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Cold Sleeve Skater Dress</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$68.00</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/12.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Cotton Tshirt's Women’s</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$46.55</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/4.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Women's Cotton Plain T-Shirts</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$65.23</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
					                				<a href="product-page.html">
						                				<img src="images/5.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Men's Printed Regular Shirt</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$45.25</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                	<div class="col-lg-4 col-md-4 col-6">
					                		<div class="product-item">
					                			<div class="product-image">
						                			<div class="sale-label"><span>Sale</span></div>
		                							<div class="new-label"><span>New</span></div>
					                				<a href="product-page.html">
						                				<img src="images/6.jpg" alt="Xpoge">
						                			</a>
					                			</div>
					                			<div class="product-details-outer">
						                			<div class="product-details">
						                				<div class="product-title">
						                					<a href="product-page.html">Polyester Printed T-Shirts</a>
						                				</div>
						                				<div class="price-box">
						                					<span class="price">$88.54</span>
						                				</div>
						                			</div>
						                			<div class="product-details-btn">
						                				<ul>
						                					<li class="icon cart-icon">
						                						<a href="cart.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon wishlist-icon">
						                						<a href="wishlist.html">
						                							<span></span>
						                						</a>
						                					</li>
						                					<li class="icon compare-icon">
						                						<a href="#">
						                							<span></span>
						                						</a>
						                					</li>
						                				</ul>
						                			</div>
					                			</div>
					                		</div>
					                	</div>
					                </div>
								</div>
								<div class="shorting center-md">
						            <div class="row">
						              <div class="col-lg-6">
						                <div class="pagination-bar">
					                      <ul>
					                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
					                        <li class="active"><a href="#">1</a></li>
					                        <li><a href="#">2</a></li>
					                        <li><a href="#">3</a></li>
					                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
					                      </ul>
					                    </div>
						              </div>
						              <div class="col-lg-6">
						                <div class="show-item right-side float-none-md"> 
						                	<span class="float-none-md d-block">1 из 15</span>
						                </div>
						              </div>
						            </div>
						        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Product list contant end -->

			<!-- Newslatter section start -->
			<section class="newsletter-section align-center ptb-100">
	            <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9 col-12">
                            <div class="newsletter-title">
                                <h2 class="main_title">Подписаться на рассылку</h2>
                                <p>Узнай о акциях первым!</p>
                            </div>
                            <div class="newsletter-input">
                                <form>
                                    <div class="form-group m-0">
                                        <input type="email" placeholder="Адрес почты" required="">
                                    </div>
                                    <button type="submit" class="btn btn-color"><span class="d-none d-sm-block">Подписаться</span> <i class="fa fa-send d-block d-sm-none"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
	            </div>
	        </section>
	        <!-- Newslatter section end -->

			
			<!-- Footer section start -->
			<footer class="footer-part">
				<div class="container">
					<div class="footer-top ptb-100">
						<div class="mb_-30">
							<div class="row">
								<div class="col-12 col-lg-3 col-md-6">
									<div class="footer-about mb-sm-30">
										<div class="footer-logo">
											<a href="index.html">
												<img src="images/logologo2.svg" alt="logo">
											</a>
										</div>
										<p class="footer-p">Fast Step специализируется на продаже кроссовок с выгодными скидками. Мы изучаем рынок, чтобы представить вам самые модные модели по самым привлекательным ценам.</p>
									</div>
								</div>
								<div class="col-12 col-lg-3 col-md-6">
									<div class="footer-static-block">
										<span class="opener plus"></span>
										<h3 class="head-three">Информация</h3>
										<ul class="footer-menu footer-block-contant">
											<li><a href="contact.html">Контакты</a></li>
											<li><a href="javascript:void(0)">Бренды</a></li>
											<li><a href="javascript:void(0)">Политика конфиденциальности</a></li>
										</ul>
									</div>
								</div>
								<div class="col-12 col-lg-3 col-md-6">
									<div class="footer-static-block">
										<span class="opener plus"></span>
										<h3 class="head-three">Контакты</h3>
										<div class="contact-box footer-block-contant">
				                			<ul>
				                				<li>
				                					<div class="contact-thumb">
				                						<img src="images/address-icon.svg" alt="xpoge">
				                					</div>
				                					<div class="contact-box-detail">
				                						<p>869 Lexington Ave, New York, NY 10065, USA</p>
				                					</div>
				                				</li>
				                				<li>
				                					<div class="contact-thumb">
				                						<img src="images/phone-icon.svg" alt="xpoge">
				                					</div>
				                					<div class="contact-box-detail">
				                						<p>+91 123 456 789 0</p>
				                					</div>
				                				</li>
				                				<li>
				                					<div class="contact-thumb">
				                						<img src="images/mail-icon.svg" alt="xpoge">
				                					</div>
				                					<div class="contact-box-detail">
				                						<p>xpoge@hi123.com</p>
				                					</div>
				                				</li>
				                			</ul>
				                		</div>
				                	</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom align-center">
						<div class="row">
							<div class="col-12">
								<div class="w-100">
									<p class="mb-0">©Fast Step</p>
								</div>
							</div>
							<div class="col-12">
								<div class="social-media">
									<ul>
										<li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer section end -->
		</div>
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/custom.js"></script>
		<!-- <script>
			/* ------------ Newslater-popup JS Start ------------- */
				$(window).on('load', function(){
					setTimeout(function(){
					    jQuery.magnificPopup.open({
					    items: {src: '#newslater-popup'},type: 'inline'}, 0);
					},10000)
				});
		    /* ------------ Newslater-popup JS End ------------- */
		</script> -->
		
	</body>

</html>
